# Python cache and temporary files
__pycache__/

# Dataset folders (customize based on what should/shouldn't be included)
*.csv
*.pkl

# Model checkpoints and outputs
models/
*.pth
*.h5
*.ckpt

# Figures and plots
figs/

# Result
result/

# Slurm job outputs
*.slurm
*.out
*.err

# Miscellaneous system files
.DS_Store

# Ignore VSCode settings
.vscode/
