# Python cache and temporary files
__pycache__/

# Dataset folders
*.pkl

# Model checkpoints and outputs
*.pth
*.h5
*.ckpt

# Miscellaneous system files
.DS_Store

# Ignore VSCode settings
.vscode/

analysis/